<div class="list">
    <form>
        <div class="row">
            <div class="small-12 columns">
							<label>
								Endpoint For Query
                <input ng-model="queryUrl" type="text" placeholder="QueryURL">
							</label>
            </div>

            <div class="small-12 columns">
							<label>
								Endpoint For Update
                <input ng-model="updateUrl" type="text" placeholder="UpdateURL">
							</label>
						</div>
        </div>

        <div class="text-center">
            <button ng-click="setUrl()" class="button tiny info">Save URL</button>
        </div>

        <div class="text-center">
            {{ message }}
        </div>
    </form>
</div>
